#walk-summary .ui-li-icon {
	top: 5px;
	left: 12px;
}

#weight-summary .ui-li-icon {
	top: 6px;
	left: 6px;
}

#weight-add-link .ui-li-icon {
	top: 10px;
	left: 7px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.graph {
	width: 100%;
	background: url("assets/ajax-loader.gif") no-repeat center center;
}

#weight-summary-graph, #walk-summary-graph {
	height: 90px;
	margin: -5px 0 5px 0;
}

#walk-graph, #weight-graph {
	margin: -20px -10px 5px -10px;
	height: 150px;
	width: 110%;
}

table {
	border-spacing: 0;
}

td {
	padding: 3px 10px;
}

.sumrow td {
	border-top: 1px solid grey;
}
.red {
	color: red;
}
.green {
	color: green;
}

#progress {
	margin: 0px 0 15px 0;
	font-weight: bold;
	text-shadow: 0 -1px 1px #225377;
}

#progress div {
	position: relative;
	width: 71%;
	color: white;
	padding: 10px 0 10px 40px;
	background: #339900;
	background: -webkit-gradient(linear, left top, right top, from(#993300), to(#339900));
	background: -moz-linear-gradient(left,  #993300,  #339900);
}

#progress .ui-li-icon {
	top: 7px;
	left: 7px;
}