#walk-summary .ui-li-icon {
	top: 5px;
	left: 12px;
}

#weight-summary .ui-li-icon {
	top: 6px;
	left: 6px;
}

#weight-add-link .ui-li-icon {
	top: 10px;
	left: 7px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.graph {
	width: 100%;
	background: url("assets/ajax-loader.gif") no-repeat center center;
}

#weight-summary-graph, #walk-summary-graph {
	height: 95px;
	margin: -5px 0 5px 0;
}

#walk-graph, #weight-graph {
	margin: -20px -10px 5px -10px;
	height: 150px;
	width: 110%;
}

table {
	border-spacing: 0;
}

td {
	padding: 3px 10px;
}

.sumrow td {
	border-top: 1px solid grey;
}
.red {
	color: red;
}
.green {
	color: green;
}
